@model Entity_Brive.EBrive

@{
    ViewBag.Title = "Agregar";
}

<h2>Agregar</h2>


@using (Html.BeginForm(null,null,FormMethod.Post))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Agregar nuevo Producto</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">

        @Html.LabelFor(model => model.Nombre_Prod, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Nombre_Prod, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Nombre_Prod, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Codigo_B, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Codigo_B, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Codigo_B, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Canti, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Canti, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Canti, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Precio_U, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Precio_U, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Precio_U, "", new { @class = "text-danger" })
        </div>
    </div>



  <div class="form-group">
        @Html.LabelFor(model => model.Sucursal, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @{
                List<SelectListItem> sucursales = new List<SelectListItem>
            {
                new SelectListItem { Value = "1", Text = "Sucursal A" },
                new SelectListItem { Value = "2", Text = "Sucursal B" },
                
            };
            }
            @Html.DropDownListFor(model => model.Sucursal, sucursales, "Seleccione una sucursal", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Sucursal, "", new { @class = "text-danger" })
        </div>
    </div>
    
    

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" style="border-color:darkblue; color:white;background-color:black" value="Agregar" class="btn btn-default" formaction="/Home/Agregar" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Regresar", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>



